---
export interface CardProps {
    image: string;
    title: string;
    subtitle: string;
    paragraph: string;
    link: string;
}

const { image, title, subtitle, paragraph, link } = Astro.props as CardProps;
---

<a href={link} class="card-link">
    <article class="appear card">
            <div class="img-wrapper">
                <img src={image} alt={title} class="card-image" />
            </div>
            <div class="text-container">
                <div class="text-wrapper">
                    <h3 class="card-title">{title}</h3>
                    <h4 class="card-subtitle">{subtitle}</h4>
                    <p class="card-paragraph">{paragraph}</p>
                </div>
            </div>
    
    </article>
</a>
<style>

.card-link {
    text-decoration: none;
    color: inherit;
    
}

.card {
    display: flex;
    max-width: 360px;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    transition: box-shadow 0.2s;
    
}

.card:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.img-wrapper {
    overflow: hidden;
    max-height: 200px;
    max-width: 360px;
}

.card-image {
    max-width: 100%;
    max-height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-container {
    padding: 1rem;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.card-title {
    font-size: var(--font-size-xsmall);
}

.card-subtitle {
    font-size: var(--font-size-base);
}

.card-paragraph {
    min-height: 54px;
    font-size: var(--font-size-small);
}

</style>

