---
import SurveyLayout from "src/layouts/SurveyLayout.astro";
import RadioForm from "src/modules/survey/components/RadioForm.svelte";
import DynamicSurveyNav from "src/modules/survey/components/DynamicSurveyNav.svelte";


const currentStep = 4;
const baseUrl = "/surveys/paneles-solares/step-";
const prevUrl = currentStep > 1 ? `${baseUrl}${currentStep - 1}` : "/surveys";
const nextUrl = `${baseUrl}${currentStep + 1}`;

const options = ["suelo", "techo"];

const inputName = "superficie de instalacion";
const inputSelector = `input[name='${inputName}']`;
---

<SurveyLayout>
    <h1 style="text-align: center">Selecciona el espacio en el que planea realizar la instalación</h1>

    <RadioForm 
        options={options}
        inputName={inputName}
        client:load
    />  

    <DynamicSurveyNav
        prevUrl={prevUrl}
        nextUrl={nextUrl}
        inputSelector={inputSelector}
        inputName={inputName}
        client:load
    />

</SurveyLayout>
