---
import SurveyLayout from "src/layouts/SurveyLayout.astro";
import SurveyNav from "src/modules/survey/components/SurveyNav.svelte";
import RadioForm from "src/modules/survey/components/RadioForm.svelte";


const currentStep = 2;
const baseUrl = "/surveys/paneles-solares/step-";
const prevUrl = currentStep > 1 ? `${baseUrl}${currentStep - 1}` : "/surveys";
const nextUrl = `${baseUrl}${currentStep + 1}`;

const options = ["Reducir mi factura eléctrica", "Ser más autosuficiente en energía", "Tener energía durante cortes de luz", "Contribuir a reducir la huella de carbono"];

const inputName = "objetivo principal";
const inputType = "radio";
const inputSelector = `input[name='${inputName}']`;
---

<SurveyLayout>

<h1 style="text-align: center">Selecciona el tipo de propiedad</h1>

    <RadioForm options={options} inputName={inputName} />


<SurveyNav
    prevUrl={prevUrl}
    nextUrl={nextUrl}
    inputType={inputType}
    inputSelector={inputSelector}
    client:load
/>

</SurveyLayout>