---
import SurveyLayout from "src/layouts/SurveyLayout.astro";
import SurveyNav from "src/modules/survey/components/SurveyNav.svelte";
import RadioForm from "src/modules/survey/components/RadioForm.svelte";


const currentStep = 3;
const baseUrl = "/surveys/paneles-solares/step-";
const prevUrl = currentStep > 1 ? `${baseUrl}${currentStep - 1}` : "/surveys";
const nextUrl = `${baseUrl}${currentStep + 1}`;

const options = ["factura"];

const inputName = "factura";
const inputType = "radio";
const inputSelector = `input[name='${inputName}']`;
---

<SurveyLayout>

<h1 style="text-align: center">imagen boleta</h1>

    <RadioForm 
    options={options}
    inputName={inputName}
    client:load
    />  

    <SurveyNav
        prevUrl={prevUrl}
        nextUrl={nextUrl}
        inputType={inputType}
        inputSelector={inputSelector}
        inputName={inputName}
        client:load
    />

</SurveyLayout>